/* .rightSection{
   background-image: url("../Images/chatBg.svg") ;
   background-size: 100% 100%;
   background-color: aqua;
   width: 80%;
   height: 90%;
   max-width: fit-content;
}

.typeBox{
    width:300px;
    height: 200px;
} */